[Unit]
Description=Run drive temperature check every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=drive-temp.service

[Install]
WantedBy=timers.target
